body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #999;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

ul a:hover {
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

footer {
    background-color: #999;
    color: #fff;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}